{% extends "base.html" %}
{% block content %}
    
<div class="about">
    <h1>About</h1>

    <h3 class="card-text">
        For all my homies out there with brains trained by Google to watch every youtube video we see as soon as we hit the website. This is a place where you can get your lofi 
        fix in for doing the pomodoro method of studying without the distraction of seeing other youtube videos. No more fooling around with a seperate timer and music, the less 
        friction between you and a session the more you can get done. Now go learn (or buy me a coffee below).
    </h3>

</div>

<div class="donate">

    <h2 class="card-title">A Message from the Dev</h5>
    <p class="card-text">
        We do not save or sell any of your data or do anything weird. This is simply a place of peace and focus. 
        Just listen to the tunes, study, and if you like this app, donate.
    </p>

</div>

{% endblock %}